:root{
    background-color: white;
    color: black;
    
}
.vh100{
    height: 100vh;
}
::placeholder {
    color: rgb(98, 98, 98) !important;
    opacity: 1; /* Firefox */
  }
.formShadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px; /* Adjust the width as needed */
    overflow: hidden; /* Prevent scrolling */
    height: 100vh; /* Full height */
}
.notification{
    width: 100% !important;
}